.book-section {
  margin: 1.5rem 0;
  padding: 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 0.1rem solid var(--medium-gray);
  border-radius: 0.25rem;
}

.category {
  color: var(--dark-gray);
  font-family: 'Prompt', sans-serif;
  font-weight: bold;
}

.author {
  color: var(--dimmed-blue);
}

.button {
  height: 1.5rem;
  margin-top: 1.313rem;
  background-color: transparent;
  border: none;
  color: var(--dimmed-blue);
  font-size: 1rem;
  cursor: pointer;
}

.buttom-center {
  padding: 0 1rem;
  border-left: solid;
  border-right: solid;
  border-color: var(--medium-gray);
  border-width: 0.12rem;
}

.progress-img {
  width: 4.25rem;
  height: 4.25rem;
}

.progress-buttom {
  padding: 0.5rem 2rem;
  background-color: var(--blue);
  border: none;
  border-radius: 0.25rem;
  color: var(--light-gray);
}

.vertical-separator {
  position: absolute;
  top: 0;
  right: 25%;
  height: 4.5rem;
  width: 0;
  color: var(--light-gray);
  opacity: 25%;
}
